# k8s/web-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: web-service
  labels:
    app: web
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
        #  type: NodePort # 외부 접근용 (클라우드에서는 LoadBalancer 사용)
  type: LoadBalancer
