namespace: tanzu-system-service-discovery
deployment:
  args:
    - --registry=txt
    - --txt-owner-id=tanzu-dns
    - --txt-prefix=txt
    - --provider=rfc2136
    - --rfc2136-host=172.18.10.101
    - --rfc2136-port=53
    - --rfc2136-zone=tanzu.lab
    - --rfc2136-insecure
      #    - --rfc2136-tsig-axfr
      #    - --rfc2136-tsig-secret=UVi3Q7neE81kAMv0dkVKvFdD3uYJFB0nrC+cUAMbEQU=
      #    - --rfc2136-tsig-secret-alg=hmac-sha256
      #    - --rfc2136-tsig-keyname=externaldns
    - --source=service
    - --source=ingress
      #    - --source=contour-httpproxy
    - --domain-filter=tanzu.lab
    - --log-level=info
    - --policy=upsert-only # prevents externalDNS from delete any record, omit to enable full sync DNS
