apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-frontend-deployment
  namespace: guestbook
spec:
  selector:
    matchLabels:
      app: guestbook
      tier: frontend
  replicas: 3
  template:
    metadata:
      labels:
        app: guestbook
        tier: frontend
    spec:
      containers:
      - name: php-redis
        #image: us-docker.pkg.dev/google-samples/containers/gke/gb-frontend:v5
        image: tkgs-harbor.tanzu.lab/guestbook/gb-frontend:v5
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: GET_HOSTS_FROM
          value: dns
        ports:
        - containerPort: 80
